<main>
  <header><img src="/logo_nc 1.png" alt="Natural Cycles" /></header>
  <section>
    @if (title().length > 0) {
    <h1 class="scalingHeading" [style.--len]="title().length + 8">
      Time to {{ title() }}
    </h1>
    } @if (title().length === 0) {
    <h1 class="scalingHeading" [style.--len]="11">Countdown</h1>
    } @if (selectedDate()) {
    <div class="countdown">
      <p>
        <span>{{ countdown().days }}d, </span>
        <span>{{ countdown().hours }}h, </span>
        <span>{{ countdown().minutes }}m, </span>
        <span>{{ countdown().seconds }}s</span>
      </p>
    </div>
    }
    <div class="quote">
      <p>{{ quote() || 'Loading...' }}</p>
    </div>
    <form (submit)="$event.preventDefault()">
      <div>
        <label for="title"> Title</label>
        <input
          name="title"
          id="title"
          (change)="onTitleChange($event)"
          maxlength="50"
          [value]="title()"
        />
      </div>
      <div>
        <label for="date">Date</label>
        <input
          type="date"
          name="date"
          id="date"
          (change)="onDateChange($event)"
          [value]="selectedDateIso"
        />
      </div>
    </form>
  </section>
</main>

<router-outlet />
