
@font-face {
  font-family: 'Open Sauce One';
  font-style: normal;
  font-display: fallback;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/open-sauce-one@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/open-sauce-one@latest/latin-400-normal.woff) format('woff');
}

@font-face {
  font-family: 'Open Sauce One';
  font-style: normal;
  font-display: fallback;
  font-weight: 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/open-sauce-one@latest/latin-800-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/open-sauce-one@latest/latin-800-normal.woff) format('woff');
}
  
  .heading {
    width: 100vw;
    text-align: center;
    font-size: clamp(2vw, calc(170vw / (8 + var(--len))), 20vw);

  }