.scalingHeading {
  width: 100vw;
  text-align: center;
  font-size: clamp(2vw, calc(170vw / (var(--len))), 20vw);
  margin: 20px 0;
  color: #72035d;
  font-weight: 800;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.quote {
  font-style: italic;
  margin: 2vh 0;
  max-width: 800px;
  width: 90%;
  text-align: center;
}

.countdown {
  font-weight: 400;
  margin: 0;
  width: 100%;

  p {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    font-size: 9vw;
    padding: 5px 15px;
  }
}

form {
  width: calc(100% - 24px);
  max-width: 800px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;

  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

input {
  padding: 10px;
  font-size: 14px;
  box-sizing: border-box;
  width: 278px;
  max-width: 90vw;
}

label {
  font-weight: 400;
  font-size: 14px;
  position: relative;
  top: 7px;
  left: 10px;
  background-color: #fff;
  padding: 0 5px;
  height: fit-content;
}

@media screen and (max-width: 800px) {
  form {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 300px) {
  .countdown {
    font-size: 8vw;

    span {
      padding: 5px 4vw;
    }
  }
}
