@font-face {
  font-family: 'Open Sauce One';
  font-style: normal;
  font-display: fallback;
  font-weight: 400;
  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/open-sauce-one@latest/latin-400-normal.woff2)
      format('woff2'),
    url(https://cdn.jsdelivr.net/fontsource/fonts/open-sauce-one@latest/latin-400-normal.woff)
      format('woff');
}

@font-face {
  font-family: 'Open Sauce One';
  font-style: normal;
  font-display: fallback;
  font-weight: 800;
  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/open-sauce-one@latest/latin-800-normal.woff2)
      format('woff2'),
    url(https://cdn.jsdelivr.net/fontsource/fonts/open-sauce-one@latest/latin-800-normal.woff)
      format('woff');
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 5px 0;
  margin: 0;
  font-family: 'Open Sauce One', sans-serif;
}
